@import "section";

//Variables
$color-primary: #fff;

body {
     
    background-image: url(imagenes/desayunoback.JPG) ;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;     
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Open Sans', sans-serif;
}
section {
padding-top: 75px;
}

/*HOME*/
.hometitulo {
    margin: 0;
    color: #53555b;
    text-transform:uppercase ;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translatex(-50%) translateY(-50%);
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 30px 30px 30px 30px;
    font-size: 40px;
    font-style: oblique;
    border-radius: 40px;
    animation: move linear 2000ms infinite;
    z-index: 2
}           
.hometitulo {
    background: linear-gradient(135deg, rgb(246, 213, 234) 0%, rgb(232, 154, 231) 100%);
  }
 
 /*Animación para rotar las sombras*/
 @keyframes move {
   0% {
     text-shadow:
       4px -4px 0 #f273c3,
       3px -3px 0 #f273c3,
       2px -2px 0 #f273c3,
       1px -1px 0 #f273c3,
       -4px 4px 0 #13f1fc,
       -3px 3px 0 #13f1fc,
       -2px 2px 0 #13f1fc,
       -1px 1px 0 #13f1fc
     ;
   }
   25% {
     text-shadow:
       -4px -4px 0 #13f1fc,
       -3px -3px 0 #13f1fc,
       -2px -2px 0 #13f1fc,
       -1px -1px 0 #13f1fc,
       4px 4px 0 #f273c3,
       3px 3px 0 #f273c3,
       2px 2px 0 #f273c3,
       1px 1px 0 #f273c3,
     ;
   }
   50% {
     text-shadow:
       -4px 4px 0 #f273c3,
       -3px 3px 0 #f273c3,
       -2px 2px 0 #f273c3,
       -1px 1px 0 #f273c3,
       4px -4px 0 #13f1fc,
       3px -3px 0 #13f1fc,
       2px -2px 0 #13f1fc,
       1px -1px 0 #13f1fc
     ;
   }
   75% {
     text-shadow:
       4px 4px 0 #13f1fc,
       3px 3px 0 #13f1fc,
       2px 2px 0 #13f1fc,
       1px 1px 0 #13f1fc,
       -4px -4px 0 #f273c3,
       -3px -3px 0 #f273c3,
       -2px -2px 0 #f273c3,
       -1px -1px 0 #f273c3,
     ;
   }
   100% {
     text-shadow:
       4px -4px 0 #f273c3,
       3px -3px 0 #f273c3,
       2px -2px 0 #f273c3,
       1px -1px 0 #f273c3,
       -4px 4px 0 #13f1fc,
       -3px 3px 0 #13f1fc,
       -2px 2px 0 #13f1fc,
       -1px 1px 0 #13f1fc
     ;
   }
 }
.productos1{
  display: grid;
  grid-column: 100px;
  grid-template-columns: 100px;
  align-items: flex-start;
}

.productos2 {
  display: grid;
  grid-column: 100px;
  grid-template-columns: 100px;
  align-items: flex-start;
}
.textodestacado {
padding-top: 400px;
text-align: center;
writing-mode: sideways-lr;
}
aside, .grid {
  border: solid 2px #000000;
}

.grid {
  display: grid;
  background-color: #eac3dc;
  text-align: center;
  grid-template-areas: 
  "navegrid aside" 
}

aside {
  grid-area: aside;
  border: solid 2px black;
  display: grid;
  grid-template-areas:
  "desayuno ajuar"
  "desayunopremium canastadesayuno"
}
.desayuno {
  grid-area: desayuno;
  border: solid 2px black;   
}
.ajuar {
  grid-area: ajuar;
  border: solid 2px black; 
}
.desayunopremium {
  grid-area: desayunopremium;
  border: solid 2px black; 
}
.canastadesayuno { 
  grid-area: canastadesayuno;
  border: solid 2px black; 
}

/*HOME*/

/*UBICACION*/
.mapa {
text-align: center;
margin-top: 100px;
}

.titulomapa {
text-align: center;
margin-top: 100px;
}

/*UBICACION*/

/*SOBRE MI*/

.contenedor {
max-width: 1200px;
margin: 0 auto;
}
.contenedor-seccion {
margin-top: 20px;
margin-bottom: 20px;
}
.fw-300 {
font-weight: 300px;
padding-top: 100px;
}
.centrar-texto {
text-align: center;
}
.icono-noso {
display: flex;
justify-content: space-between;
}
.iconos {
flex-basis: calc(33.3% - 2rem);
text-align: center;
}
.iconito{
max-width: 180px;
max-height: 180px;
padding-bottom: 30px;
}
.encabezado {
font-weight: 300;
text-align: center;
}
.mayusculas {
text-transform: uppercase;
}
.contenido-nosotros {
display: grid;
grid-template-columns: repeat(2, 2fr);
grid-column-gap: 20px;
}
.texto-nosotros blockquote {
font-weight: 700;
font-size: 20px;
margin: 0;
padding: 10px 0 30px 0;
}
.texto-nosotros p{
text-align: center;
}

/*SOBRE MI*/
/*Registro*/
.card {
text-align: center;
margin-left: 500px;
margin-right: 500px;
background-color: #7cb8de;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font: message-box;
}
.formulario {
margin-left: 200px;
margin-right: 200px;
margin-top: 100px;
margin-bottom: 100px;
}

/*Registro*/